.recipes-container {
    width: 100%;
    padding: 0.5rem 0rem 0 0rem;
    height: auto;
    margin: 0vw 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recipe-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.recipe-info p{
margin: 0.5vh 0;

}
.recipes-box {
width: 100%;
height: auto;
flex-direction: row;
border-radius: 0;
border-color: rgb(0, 0, 0);
}
.recipes-index {
width: 90%;
color: var(--primary-color);
border-radius: 15px;
background-color: var(--secondary-color);
flex-direction: column;
align-items: center;
justify-content: left;
text-decoration: none;
}

.chefContainer {
    display: flex;
    padding: 4%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.mealType{
    width:60%;
    justify-content:center;
    width: 90%

}

.mealType ul {
    width: 60%;
    list-style-type: none;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    gap: 0.5rem;
}


.mealType h3 {
    width: 40%;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    margin: 0;
    padding-left: 0;
    justify-content: left;
    text-align: left;

}


.mealType li:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: var(--secondary-color);
    background-color: var(--secondary-text-color);
    border-radius: 15px;
}
.recipes-show {
width: 70%;
display: flex;
flex-direction: column;
color: var(--primary-color);
border-radius: 25%;

background-color: var(--secondary-color);
align-items: center;
}

.surprise {
    background-color: var(--secondary-color);
    border-radius: 15px;
    font-weight: 700;
    padding: 4px 12px;
    margin: 0 0 2px 5px;
    border: none;
  }

.surprise:hover {
    transform: scale(1.1);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

h2 {
    margin:0;
}




.eachIngredientSet{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 80%;
}
.eachIngredientSet h3 {
    list-style-type: none;
    justify-content: left;
    margin:0;
}  
.eachIngredientSet ul {
    margin: 0.2rem;
    list-style-type: none;
    justify-content: center;
}     
.eachIngredientSetTitle {
    justify-items: left;
}

.instructionSet{
    width:60%
}
.singleInstructions {
    flex-direction: column;
    align-items: center;
    justify-content: left;
    text-align: left;
    gap: 1rem;
}

@media (max-width: 480px) {
    .chefContainer {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .eachIngredientSet, .instructionSet{
        width:90%;
    }
}