.chefhat{
    margin: 0 auto;
    padding: 10 10 10 10;
  }


  .chefhat path {
    stroke: #072733; /* Your fill color */
    /* stroke: #fabf2c; */
    stroke-width: 20; /* Adjust to control the fill line thickness */
    fill: none;
    stroke-dasharray: 1000; /* Roughly the path length */
    stroke-dashoffset: 1000;
    animation: fillPath 6s ease-in-out forwards; 
  }
  
  .chefhat path.filling { /* Apply animation only when this class is present */
    stroke: #fabf2c;
    animation: fillPath 6s ease-in-out forwards infinite; /* Adjust duration and timing */
    stroke-dasharray:30; /* Roughly the path length */
    stroke-dashoffset: 6000;
  }
  
  @keyframes fillPath {
    to {
      stroke-dashoffset: 0;
    }
  }

  @media (max-width: 480px) {
    .chefhat {
        width: 100%;
    }
}