# Ignore .env files
.env
.env.*
.env_*
notes.txt
check-env.ts
keycommands.txt

# Dependencies
node_modules
**/node_modules/**

# Build output
dist/
*.tsbuildinfo

# Test coverage
coverage/
*.lcov

# Secrets
**/secrets/**
